<!DOCTYPE html>
<head>
  <title>Where's that damn KLE?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>

<center>
	<h1>Keyboard-Layout-Editor Layout Manager</h1>
	<div class="page_nav">
		{% if 'first' in pagination -%}
		<a href="?page={{pagination['first']}}">&lt;&lt;</a>
		{% endif %}
		{% if 'prev' in pagination -%}
		<a href="?page={{pagination['prev']}}">&lt;</a>
		{% endif %}
		| Page {{page}} |
		{% if 'next' in pagination -%}
		<a href="?page={{pagination['next']}}">&gt;</a>
		{% endif %}
		{% if 'last' in pagination -%}
		<a href="?page={{pagination['last']}}">&gt;&gt;</a>
		{% endif %}
	</div>
</center>

<div class="kle-container">
	{% for KLE in KLEs -%}
	<div class="kle-box">
		<h1>{{KLE['description']}}</h1>
		<h2>
			[<a href="https://gist.github.com/{{KLE['login']}}/{{KLE['id']}}">gist</a>]
			[<a href="http://www.keyboard-layout-editor.com/#/gists/{{KLE['id']}}">KLE</a>]
		</h2>
		<img src="/render/{{KLE['id']}}">
	</div>
	{% endfor -%}
</div>

</body>
</html>
